@media screen and (max-width: 640px) {

    /*
about
*/
    body {
        padding: 80px 0 60px;
        max-width: 960px;

    }
}

body {
    font-family: cursive;
    background-image: url("/img/64500.png");
    background-position: center;
    background-repeat: repeat;
}


h1 {
    text-align: center;
    font-size: 100px;
}

.main-box {
    display: flex;
    width: 400px;
}

h2 {
    text-align: center;
}

#input {
    width: 300px;
    height: auto;
}

#text_aria {
    height: 900px;
}

.left-box {
    display: inline-grid;
    margin: 0px 40px 0px 50px;
}


.light-box {
    display: inline-grid;

    margin: 0px 0px 0px -30px;
}



.ul {
    display: flex;
    font-weight: bold;
}

.li {
    font-weight: bold;
}

.time-font {
    font-weight: bold;
    text-align: right;

}


/*全体*/
.wrapper {
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}

#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}

table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}

th {
    color: #000;
}

th,
td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/*日曜日*/
td:first-child {
    color: red;
}

/*土曜日*/
td:last-child {
    color: blue;
}

/*前後月の日付*/
td.disabled {
    color: #ccc;
}

/*本日*/
td.today {
    background-color: #D65E72;
    color: #fff;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}

#next-prev-button button {
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}

#next-prev-button button:hover {
    background-color: #D4BB92;
    border-color: #D4BB92;
}

#prev {
    float: left;
}

#next {
    float: right;
}