@media screen and (max-width: 640px) {

    /*
about
*/
    .body {
        padding: 80px 0 60px
    }
}

body {
    max-width: 960px;

}

.title_box {
    background: url(/img/img_4871-scaled.jpeg);
    background-size: cover;
    background-position: center;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: serif;

}

h1 {
    font-size: 48px;
    width: 100%;
    text-align: center;
    margin: 100px 0px 0px 0px;
    font-weight: bold;

}

.title_box p {
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin: 0px 0px 130px 00px;
    font-weight: bold;
}

/* 005 */
.button005 a {
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 340px;
    max-width: 220px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: rgb(149, 202, 252);
    background: linear-gradient(270deg, rgba(149, 202, 252, 1) 0%, rgba(107, 182, 255, 1) 100%);
}

.button005 a:hover {
    background: rgb(117, 188, 255);
    background: linear-gradient(270deg, rgba(117, 188, 255, 1) 0%, rgba(62, 159, 252, 1) 100%);
}